# python cache
__pycache__/
*.py[cod]
*$py.class

# venv
mouse/

# django db
db.sqlite3

# django migrations
*/migrations/
!*/migrations/__init__.py

# logs
*.log

# static and media files
staticfiles/
media/

# IDE/editor settings
.vscode/
.idea/

# OS
.DS_Store
thumb.db

.env
